/target
/.vscode
.idea
/swagger
.env
/auditors/.env
/audits/.env
/chat/.env
/customers/.env
/events/.env
/files/.env
/mail/.env
/notifications/.env
/renderer/.env
/report/.env
/search/.env
/telemetry/.env
/users/.env
docker-compose.yml
docker-compose.yml.old
Dockerfile